<div class="w-full h-full overflow-y-auto flex flex-col">
    <div class="flex items-center justify-between">
        <h2>My Projects</h2>
        <%= link_to "Create New", new_organization_project_path(@organization), class: "bg-blue-500 text-white text-base font-medium rounded-md px-4 py-2" %>
    </div>
    <div class=""></div>
</div>