<div class="w-1/2 p-4 flex flex-col space-y-4">
    <h1><%= @organization.name %></h1>
    <% if @organization.logo.attached? %>
        <%= image_tag url_for(@organization.logo), class: "w-24 h-24 rounded-md" %>
    <% end %>
    <%= link_to "Edit", edit_organization_path(@organization), class: "bg-blue-500 text-white px-2 py-2 rounded-md text-base" %>
</div>